# dependencies
node_modules

# logs
npm-debug.log
yarn-error.log
package-lock.json

# Nuxt build
.nuxt

# Nuxt generate
dist/

# Service Worker
sw.*

# others
build/
dest/
temp/
.ds_store
assets/
static/img/
static/svg/

