.appear {
	opacity: 0;
	&.on {
		animation: show 1.5s both;
	}
}

@keyframes show {
	0% {
		opacity: 0;
	}

	100% {
		opacity:1;
	}
}

.appear-up {
	opacity: 0;
	&.on {
		animation: showup 1.5s both;
	}
}

@keyframes showup {
	0% {
		transform: translateY(30px);
		opacity: 0;
	}

	100% {
		opacity:1;
	}
}